Добро пожаловать на сайт инет магазина! <br> 
<p align="center">
	Здесь представлены спортивные товары <br>Вы сможете выбрать одежду для занятий спортом, сделать заказ, оплатить товар и отследить его доставку<br>
</p>
Позиции <br>
<p align="right">
	Сноуборд <br>Здесь должно быть описание, цена и картинка сноуборда. А также кнопка "положить в корзину"<br>
</p>
<p align="right">Куртка сноубордическая<br>
	Здесь должно быть описание, цена и картинка сноубордической куртки. Кнопки выбора цвета и размера. А также кнопка "положить в корзину"<br>
</p>